/* purgecss start ignore */
@import "./typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientOne {
	background: radial-gradient(
		57.33% 57.33% at 50% 50%,
		#c070ff 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.4;
	filter: blur(124px);
}
.gradientTwo {
	background: radial-gradient(
		57.33% 57.33% at 50% 50%,
		#ff7070 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.4;
	filter: blur(124px);
}

@keyframes gradientMoveOne {
	0% {
		transform: translate(0px);
	}

	100% {
		transform: translate(-90px);
	}
}
.gradientTwo:hover,
.gradientOne:hover {
	animation-name: gradientMoveOne;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
}
